{% extends 'base.html' %}
{% block title%}Update {% endblock %}
{% block body %}
<div class="container my-3">
    <form action="/" method="POST">
        <div class="mb-3">
        <label for="listName" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="listName" value="{{todo.title}}" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" name="desc" id="desc" value="{{todo.desc}}">
        </div>
        <button type="submit" class="btn btn-outline-dark">Update</button>
    </form>
</div>
{% endblock body %}